<section>
  <ul class="container text-center pt-20">
    <% @users&.each do |user| %>
      <li class="pb-20">

        <%= link_to user_path(user) do %>
          <h5 class="text-9xl"><%= user.username %></h5>
        <% end %>  
          <p><%= user.bio %></p>
        
      </li>
    <% end %>
  </ul>
</section>
