<section>
  <h1>Posts by user</h1>

  <h2><%= @user&.username %></h2>

  <ul>
    <% @posts&.each do |post| %>
      <li>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
      </li>
    <% end %>
  </ul>

  <%= link_to user_path(@user)  do %>
    <p>Back to user</p>
  <% end %>
</section>
